html{
	height: 100%;
}

body{
	margin:0;
	padding:0;
	background: white;
	display: none;
	height: 100%;
}
p.title{
	color: white;
	display: inline;
	position: absolute;
	top: 15%;
	left: 2%;
	font-size: 2vh;
}

p.login{
	color: white;
	display: inline;
	position: absolute;
	left: 65%;
	top: 30%;
}

p.forumbar{
	position: relative;
	display: inline;
}

button.signup{
	color: white;
	display: inline;
	position: absolute;
	left: 80%;
	top: 40%;
	background-color: #22cde0;
}

button.login{
	color: white;
	display: inline;
	position: absolute;
	left: 75%;
	top: 40%;
	background-color: #22cde0;
}

div.head{
	position: relative;
	background: #22cde0;
	min-height: 10%;
}

th{
	background:#e0e0eb;
	border: 1px;
	border-color: black;
	border-style: solid;
}

td{
	border: 1px;
	border-color: black;
	border-style: solid;
}

td.tabledata{
	height: 50px;
	text-align: center;
}

table.tTable{
	width: 75%;
	display: inline-table;
	border: 1px;
	border-color: black;
	border-style: solid;
}

table.lTable{
	width: 17%;
	padding-left: 7%;
	display: inline-table;
}

div.headbar{
	position: relative;
	background: #ccdadb;
	margin-right: 25%;
	height: 2%;
	min-height: 20px;
}

div.searchbar{
	display: inline;
	position: relative;
	right: 5%;
	float: right;
	margin-left:2%;
	margin-top: 0.1%;
}

div.search{
	display: inline;
	position: relative;
	right: 5%;
	float: right;
}

form.formstyle{
	position: relative;
	height: 15%;
}

input.search{
	font-size: 12px;
	position: relative;
	bottom: 2px;
}


div.tmod{
	position: fixed;
	display: none; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

div.tmod-content{
	position: relative;
	top: 0%;
	left: 0%;
	background-color: white;
	margin: 10% auto;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	width: 25%;
	height: 45%;
}

span.close{
	background-color: lightgrey;
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
}

div.tmodheader{
	position: relative;
	padding-bottom: 15%;
	height: 20%;
	width: 50%;
}

div.login-signup{
	position: relative;
	top: -10%;
	left: 30%;
	background-color: white;
	margin: 10% auto;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	width: 15%;
	height: 35%;
}

div.tmodbody{
	position: relative;
	padding-bottom: 10%;
	width: 90%;
	height: 50%;
}

label.tbodycontent{
	position: relative;
	margin-top: 20%;
	margin-left: 35%;
	font-weight: bold;
	font-size: 75%;
}

textarea.tbodycontent{
	margin-top: 5%;
	margin-left: 13%;
	margin-bottom: 5%;
	width: 50%;
	height: 25%;
	padding: 15% 10%;
	text-align: left top;
}

input.tbodycontent{
	position: relative;
	margin-left: 15%;
	width: 75%;
	height: 75%;
}

div.msgbox{
	margin-left: 25%;
	margin-bottom: 10%;
	visibility: hidden;
}

input.topicbutton{	
	position: relative;
	min-width: 10%;
	min-height: 100%;
	width: 50%;
	height: 25%;
	margin-left: 20%;
	margin-bottom: 1%;
}

button.NoCreate{
	margin-left:20%;
	height: 3rem;
	white-space: normal;
	width: 4rem;
}

p.usernames{
	cursor: pointer;
}

div.topicList{
	display: none; 
	z-index:1; 
	position: absolute; 
	width:100%; 
	height:100%; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
}

div.topicBox{
	background-color:white; 
	width:20%; 
	height:30%; 
	margin-left:25%; 
	margin-top: 10%;
}

button.topicBox{
	width: 100%;
}

div.userDel{
	display: none; 
	z-index:1; 
	position: absolute; 
	width:100%; 
	height:100%; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
}

div.userDelBox{
	background-color:white; 
	width:10%; 
	height:2%; 
	margin-left:25%; 
	margin-top: 10%;
}

button.userDelBox{
	width: 100%; 
	height:100%;
}

tr.firstRow{
	display:none;
}